<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- 为了安全，先清空所有默认源，防止某些环境有奇怪的本地源 -->
    <clear />

    <!-- 1. 优先使用华为云镜像 -->
    <add key="Huawei" value="https://repo.huaweicloud.com/repository/nuget/v3/index.json" />

    <!-- 2. 官方源 -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="Huawei">
      <package pattern="*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
