*
!.gitignore
!brainstorming
!directory-structure-documenter
!dispatching-parallel-agents
!documentation-writer
!engineering-standards
!executing-plans
!find-skills
!finishing-a-development-branch
!receiving-code-review
!requesting-code-review
!skill-creator
!subagent-driven-development
!systematic-debugging
!test-driven-development
!using-git-worktrees
!using-superpowers
!verification-before-completion
!writing-plans
!writing-skills
